@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  h1,
  .h1 {
    @apply font-futura text-[165px] font-bold uppercase leading-[85%] tracking-[-8.25px];
  }
  h2,
  .h2 {
    @apply font-futura text-[85px] font-bold uppercase leading-[95%] tracking-[-4.25px];
  }
  h3,
  .h3 {
    @apply font-helvetica text-[58.5px] font-bold uppercase leading-[95%] tracking-[-1.17px];
  }

  .text-sm-caps {
    @apply font-helvetica text-[20.825px] font-bold uppercase leading-[95%] tracking-[0.208px];
  }
  .text-sm-mix {
    @apply font-helvetica text-[20.825px] font-normal leading-[105%] tracking-[0.208px];
  }
  .text-big-caps {
    @apply font-helvetica text-[41.5px] font-bold uppercase leading-[95%] tracking-[0px];
  }
  .text-big-mix {
    @apply font-helvetica text-[41.5px] font-bold leading-[105%] tracking-[0px];
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hg-theme-default.myTheme {
  background-color: white;
  border-radius: 0px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.hg-theme-default.myTheme.hg-layout-default .hg-button-lock {
  stroke: black;
}
.hg-theme-default.myTheme.hg-layout-shift .hg-button-lock {
  background-color: #232323;
  stroke: white;
}
.hg-theme-default.myTheme .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: none;
}
.hg-theme-default.myTheme .hg-button.hg-standardBtn,
.hg-theme-default.myTheme .hg-button.hg-functionBtn {
  width: 80px;
}
.hg-theme-default.myTheme .hg-row .hg-button-container,
.hg-theme-default.myTheme .hg-row .hg-button:not(:last-child) {
  margin-right: 9px;
}
.hg-theme-default.myTheme .hg-row:not(:last-child) {
  margin-bottom: 9px;
}
.hg-theme-default.myTheme .hg-button {
  background-color: #ececec;
  color: #000000;
  font-weight: 700;
  font-size: 41.5px;
  line-height: 95%;
  height: 80px;
  border-radius: 10px;
}
.hg-theme-default.myTheme .hg-button.hg-button-space {
  width: 50%;
}
.hg-rows .hg-row:nth-child(1) {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hg-rows .hg-row:nth-child(2) {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hg-rows .hg-row:nth-child(3) {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.hg-rows .hg-row:nth-child(4) {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hg-rows .hg-row:nth-child(5) {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
